// @import url(http://mplus-fonts.sourceforge.jp/webfonts/basic_latin/mplus_webfonts.css)
// @import url(http://mplus-fonts.sourceforge.jp/webfonts/general-j/mplus_webfonts.css)
// @import url(https://fonts.googleapis.com/earlyaccess/hannari.css)
@import url(https://fonts.googleapis.com/earlyaccess/kokoro.css)
// @import url(https://fonts.googleapis.com/earlyaccess/sawarabimincho.css)
// @import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css)

body
  font-family 'Kokoro', 'Noto Sans Japanese', 'Sawarabi Mincho', 'Hannari', 'M+ C Type-2 (basic latin) Regular','M+ Type-2 (general-j) Regular',sans-serif
  font-size $font__size
  color $font__color
