@import url(http://mplus-fonts.sourceforge.jp/webfonts/basic_latin/mplus_webfonts.css)
@import url(http://mplus-fonts.sourceforge.jp/webfonts/general-j/mplus_webfonts.css)

body
  font-family 'M+ C Type-2 (basic latin) Regular','M+ Type-2 (general-j) Regular',sans-serif
  font-size $font__size
  color $font__color
